<div class="container">
    <div ng-if="$ctrl.hasPost && !$ctrl.loading" class="post">
        <h3 class="post-header">{{$ctrl.post.title}}</h3>
        <em>{{$ctrl.post.description}}</em><span class="pull-right">{{$ctrl.post.creationDate}}</span>
        <div class="post-body">
            <div ng-bind-html="$ctrl.post.body"></div>
        </div>
        <div class="comments" ng-repeat="comment in $ctrl.post.comments"></div><!-- TODO: only load a few comments -->
        <!-- TODO: have the comment form here. -->
    </div>
    <div ng-if="!$ctrl.hasPost && !$ctrl.loading">
        <p>A post with that title doesn't exist!</p>
    </div>
    <div class="text-center" ng-if="$ctrl.loading">
        <span class="fa fa-refresh fa-spin fa-4x"></span>
    </div>
</div>