<div class="container">
    <form class="form form-default" ng-submit="$ctrl.submit()">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" required ng-model="$ctrl.post.title" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" required ng-model="$ctrl.post.description" />
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea rows="8" class="form-control" required ng-model="$ctrl.post.body"></textarea>
        </div>
        <button type="submit" class="btn btn-success">
            <span ng-show="$ctrl.editing">Update</span>
            <span ng-hide="$ctrl.editing">Submit</span>
        </button>
    </form>
</div>