<form ng-submit="$ctrl.signIn()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please sign in first.</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="email" ng-model="$ctrl.email" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" ng-model="$ctrl.password" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">Sign in</button>
        <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>